/* Add your plugin styles here. */
.show-counter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.timer-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.expired-notice,
.sub-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.divider {
  border: 1px solid #000000;
}

.counter-section {
  margin-left: 4em;
}
